:root {
    /* Colours */
    --bg: #201A23;
    --fg: #FBFBFB;
    --accent: #44354A;
    --highlight: #9E4770
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Basic styles */

body {
    background: var(--bg);
    color: var(--fg);
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}