/* Selects the root element of the document:
   <html> in the case of HTML */
:root {
    /* Here we can define colours as variables 
    that we can later reuse in the whole document */
    --bg: #201A23;
    --fg: #FBFBFB;
    --accent: hsl(283, 17%, 25%);
    --highlight: #9E4770
}

/*----------  CSS reset - overrides the styles imposed by the browser  ----------*/

/* Every element will have the border-box property: 
https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Removes all default margins and padding */
* {
    margin: 0;
    padding: 0;
}

/* Sets the height of the document */
html,
body {
    height: 100%;
}

body {
    /* Sets the text line height for dyslexia accessibility */
    line-height: calc(1em + 0.5rem);
    /* Improves readability on MacOS */
    -webkit-font-smoothing: antialiased;
    /* Sets the minimum height of the body element to the height of the viewport */
    min-height: 100vh;
}

/* All media elements */
img,
picture,
video,
canvas,
svg {
    /* Changes the display from inline to block */
    display: block;
    /* Sets max-width to 100% so it resizes on different screens */
    max-width: 100%;
}

/* Sets the font of form elements and buttons to be the same as body font */
input,
button,
textarea,
select {
    font: inherit;
}

/* Prevents text overflowing */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Basic styles */

body {
    /* Here we're setting the colours with 
    the previously defined variables in :root */
    background: var(--bg);
    color: var(--fg);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
}

h2 {
    margin-bottom: 0.5em;
    font-size: 1.25rem;
}

/* Layout */

.container {
    padding: 3rem 2rem;
    width: fit-content;
    margin-inline: auto;
    max-width: 38rem;
}

.pfp {
    margin-inline: auto;
    background: var(--fg);
    border-radius: 50%;
    border: 0.5rem solid var(--accent);
    width: 150px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.action-btns {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5em;
    margin-block: 1.5em;
}

.cards {
    display: grid;
    gap: 1em 3em;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
}

.full-width {
    grid-column-start: span 2;
}

@media screen and (max-width: 600px) {

    .half-width {
        grid-column-start: span 2;
    }
}

/* Custom styles */

/* Buttons */

.btn {
    background: var(--highlight);
    font-size: 1.8rem;
    padding: 0.5em 1.5em;
    border-radius: 0.5em;
    cursor: pointer;
    transition: all .3s;
}

.btn:focus-visible {
    outline: var(--accent) solid 3px;
}

.btn:hover {
    background-color: var(--accent);

}

.btn:active {
    transform: translateY(2px);
}

/* Pills */

.pill {
    background: var(--accent);
    font-size: 1.5rem;
    padding: 0.5em;
    border-radius: 1em;
    font-weight: 600;
    margin-bottom: 1em;
}